body
{
    line-height: 50px;
    font-family: Lucida, sans-serif;
    font-weight: Normal;
}

.form-main
{
	width: 400px;
    background-color: white;
    padding: 20px;
    border: 1px #6c757d solid;
    border-top: 10px #6c757d solid;
    border-radius: 5px;
}
body .form-holder
{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn-outline-primary:disabled
{
    border-color: #6c757d;
    color: #6c757d;
}

a i:hover
{
	color: #808080;
}

a i
{
    color: #000000;
}

.back
{
	font-family: Lucida, sans-serif;
}

.back-div
{
	padding-top: 1.5%;
}